body {
	background: $body-bg;
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $em-base;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
	font-family: $headings-font-family;
	font-weight: 400;
	margin-bottom: 0.4em;
	margin-top: 0.25em;
}

p {
	margin: 1em 0 1.5em;

	letter-spacing: normal;
	line-height: 1.4;
	margin: 0 0 10px;
	font-style: normal;
	white-space: normal;
}

a {
	&:link, &:visited {color: $linkColor; text-decoration: none;}
	&:hover, &:active {color: $linkHoverColor; text-decoration: underline;}
}

.is-hidden {display: none;}

.container {
	max-width: $container-max-width;
	padding: 0 20px;
}