.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 14px;
  font-size: 1.25em;
  font-family: $headings-font-family;
  font-weight: 600;
  line-height: 1.33;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.add-money {
    color: white;
    background-color: #1DB35D;
    border-color: #20AB5B;

    &:hover {
      background-color: #2ecc71;
      border-color: #29BD68;
    }
  }
  &.transfer-money {
    color: white;
    background-color: #f39c12;
    border-color: #f39c12;

    &:hover {
      background-color: #FFAB26;
      border-color: #FFAB26;
    }
  }
  &.view-goals {
    color: white;
    background-color: #3498db;
    border-color: #3498db;

    &:hover {
      background-color: #32A4F1;
      border-color: #32A4F1;
    }
  }
}

.btn-filter {
  color: white;
  background-color: #999;
  border-color: #808080;
  padding: 5px 10px 5px 7px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;

  &:hover {
    background-color: $linkColor;
    border-color: #1474B5;
  }
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
}


.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}